@import "url(http://fonts.googleapts.com/css?family=Montserrat:500,)";

*{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.3rem;
}

button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #edf0f1;
    text-decoration: none;
}

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    /* background-image:linear-gradient( rgb(18, 18, 20) ,#353535);  */
    background-color:#292929;
}

.logo{
    cursor: pointer;
    margin: 0 1.5rem;
}

.nav-link{
    list-style: none;  
}

.nav-link li{
    display: inline-block;
    padding: 0px 20sx;
}

.nav-link li a{
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);  
}

body{
   /* background-color: #24252A; */
   background-color: #353535;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    position: relative;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-2px) scale(1.1);
 }

 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: solid;
  }

  .centered2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: solid;
  }

  .heading{
    text-align: center;
    margin-top: 1rem;
    font-size: 3rem;
  }

  footer{
      text-align: center;    
      background-color: #292929;
      position: fixed;
      padding: .6em;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: 2rem;   
}

footer a:hover{
    color: #0088a9;
}

.container{
    margin-left: 5%;
    margin-top: 1rem;
    line-height: 130%;
}

.container img{
    border-radius: 2rem;
    margin-right: 2em;
    float: right;
}

@media screen and (min-width: 600px) {
    .nav-link li{
        display: inline-block;
        padding: 0px 10px;
    }
    header{
        text-align: flex-start;       
    }


  }


@media screen and (max-width: 600px) {
    .logo{
        display: none;
    }

    .card:hover {
        display: none;
     }

     .container img{
        border-radius: 2rem;
        margin-right: 2em;
        float: right;
        margin-left: 2rem;
    }
  }
